header {
    width: 100%;
    position: sticky;
    top:0;
    background: white;
    z-index: 1;
}
header .addwidget {
    display: flex;
    justify-content: center;
}
input {
    height:50px;
    margin:0 1% 1% 0;
    flex:1;
    border: none;
    border-bottom: 2px solid lightgray;
    transition: 0.3s;
}
input:focus{
    text-decoration: none;
    outline: none;
    border-bottom-color: dodgerblue;
}
.addbutton {
    flex: 1;
    background: dodgerblue;
    border: none;
    color: white;
    font-weight: bold;
    transition: 0.3s;
    margin: 0 0 1% 0;
}
.addbutton:active {
    background: black;
    transform: scale(0.95);
}
#givensearch {
    width: -webkit-fill-available;
    margin: 0 0 1% 0;
}
/* Use flexview class for having flexbox model view */
.flexview {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
/* Use gridview class for having grid model view */
.gridview {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
}
.listitem {
    background: linear-gradient(45deg, dodgerblue, lightblue);
    /* comment width property in case use of gridview */
    width:32.33%;
    min-height: 30vh;
    text-align: center;
    margin: 0.5%;
    transition: 0.3s;
    color:white;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    cursor:pointer;
}
.listitem:hover {
    transform: scale(0.98);
    filter: hue-rotate(-45deg);
}
.listitem p {
    flex:1;
    align-self: center;
}
.scroller {
    position: fixed;
    height: 70px;
    width: 70px;
    background: dodgerblue;
    margin: 2%;
    bottom: 0;
    right: 0;
    border-radius: 100%;
    transition: 0.3s;
    display: grid;
    align-items: center;
    text-align: center;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.scroller:active {
    transform: scale(0.5);
}
@keyframes toastanimation {
    from{transform: translate(-50%, -50%) scale(0);}
    to{transform: translate(-50%, -50%) scale(1)}
}
.toast {
    background: rebeccapurple;
    color: whitesmoke;
    width: 30%;
    height: 10vh;
    text-align: center;
    padding: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    display: none;
    flex-direction: row;
    justify-content: space-around;
    box-shadow: 0 20px 15px -20px black;
    animation-name: toastanimation;
    animation-duration: 0.5s;
}
.toast p {
    flex:1;
    align-self: center;
}
.toast img {
    align-self: flex-start;
    width: 30px;
    filter: invert();
    cursor: pointer;
}